ul.cards {
    margin:0px;
    padding:0px;
    list-style: none;
    width:100%;
}

.card-items {
    padding:10px;
    margin:0px;
    height:360px;
    cursor:pointer;
}

.card-container {
    background-color: #FFF;
    border:solid 2px;
    border-color:#CCC;
    padding:1px;
    box-shadow:5px 5px 4px 0px #CCC;
    transition:border-color 0.5s ease-in;
    display:block;
    height: 100%;
}

.card-container:hover {
    border-color:#000;
}

.card-img-container {
    width:100%;
    background-color: #FFFFFF;
    position:relative;
    height: 85%;
}

.card-post-screenshot {
    height:100%;
    max-width:100%;
    padding:1px;
    border:1px solid #CCCCCC;
}

.card-post-details {
    color:#333;
    /* text-align:center; */
    background: white;
    padding:3px;
    position:relative;
    height:15%;
}

.card-post-title,
.card-post-date {
    position: absolute;
    bottom: 0px;
    width:100%;
    padding: 4px;
}

.card-post-title {
    font-variant:small-caps;
    letter-spacing: 1px;
    text-align: left;
}

.card-post-date {
    color:#888;
    text-align: right;
}